<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-security-loginform-xml:war exploded">
    <output-path>$PROJECT_DIR$/target/SpringSecurityHelloWorld</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-security-loginform-xml" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.postgresql:postgresql:42.2.1" />
          <element id="library" level="project" name="Maven: org.apache.openjpa:openjpa:2.4.2" />
          <element id="library" level="project" name="Maven: commons-lang:commons-lang:2.6" />
          <element id="library" level="project" name="Maven: commons-collections:commons-collections:3.2.2" />
          <element id="library" level="project" name="Maven: net.sourceforge.serp:serp:1.15.1" />
          <element id="library" level="project" name="Maven: junit:junit:3.8.1" />
          <element id="library" level="project" name="Maven: org.apache.geronimo.specs:geronimo-jms_1.1_spec:1.1.1" />
          <element id="library" level="project" name="Maven: org.apache.geronimo.specs:geronimo-jta_1.1_spec:1.1.1" />
          <element id="library" level="project" name="Maven: commons-pool:commons-pool:1.6" />
          <element id="library" level="project" name="Maven: org.apache.xbean:xbean-asm5-shaded:3.17" />
          <element id="library" level="project" name="Maven: org.apache.geronimo.specs:geronimo-jpa_2.0_spec:1.1" />
          <element id="library" level="project" name="Maven: javax.persistence:persistence-api:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:4.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:4.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:4.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-openid:4.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: com.google.inject:guice:2.0" />
          <element id="library" level="project" name="Maven: org.openid4java:openid4java-nodeps:0.9.6" />
          <element id="library" level="project" name="Maven: net.jcip:jcip-annotations:1.0" />
          <element id="library" level="project" name="Maven: net.sourceforge.nekohtml:nekohtml:1.9.20" />
          <element id="library" level="project" name="Maven: xerces:xercesImpl:2.10.0" />
          <element id="library" level="project" name="Maven: xml-apis:xml-apis:1.4.01" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpclient:4.2.3" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpcore:4.2.2" />
          <element id="library" level="project" name="Maven: commons-codec:commons-codec:1.6" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-autoconfigure:2.1.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot:2.1.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:2.5.4" />
          <element id="library" level="project" name="Maven: jstl:jstl:1.2" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.1.0" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/SpringSecurityHelloWorld/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-security-loginform-xml/web/Web" />
    </root>
  </artifact>
</component>